<div class="container">
  <form >
    <div class="mb-3 row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Id</label>
      <input class="form-control form-control-sm" placeholder="id" [(ngModel)]="id" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="mb-3 row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
      <input class="form-control form-control-sm" placeholder="name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="mb-3 row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Quantity</label>
      <input class="form-control form-control-sm" placeholder="quantity" [(ngModel)]="quantity" [ngModelOptions]="{standalone: true}">
    </div>

    <button class="btn btn-primary mb-3" (click)="createProduct()" >Create Products</button>
  </form>
</div>
